.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  
    position: 'fixed';
    top: 0;
    left: 0;
    width: '100vw';
    height: '100vh';
                   
    
    background: 'transparent';  
    opacity: 0.09;
  
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
